.container {
/*     background-image: url('C:\Users\Hansi Dileesha\gold-loan-web-app\src\backlogo6.jpg');
    background-size: cover; */
    background-position: center;
    min-height: 100vh; /* Ensures the background covers the entire viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: rgb(0, 0, 0); /* Adjust text color for better visibility */
  }
  
  .heading {
    color: black;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  
  .link {
    text-decoration: none;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff; /* Adjust button styles as needed */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3; /* Adjust button hover color as needed */
  }
  
